body{
    background-color: aquamarine;
}

#score_span
{
    float: left;
    font-size: 28px;
    margin-left: 80px;
}
#timer_span
{
    float: right;
    font-size: 28px;
    margin-right: 80px;
}